<%- include("partials/header") %>
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Please Sign Up</h1>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
    <form action="/register" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="registerUsername" class="sr-only">Username</label>
        <input
          id="registerUsername"
          class="form-control"
          type="text"
          name="username"
          placeholder="username"
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="registerPassword" class="sr-only">Password</label>
        <input
          id="registerPassword"
          class="form-control"
          type="password"
          name="password"
          placeholder="password"
        />
      </div>
      <div class="form-group">
        <label for="registerFirstName" class="sr-only">First Name</label>
        <input
          id="registerFirstName"
          class="form-control"
          type="text"
          name="firstName"
          placeholder="first name"
        />
      </div>
      <div class="form-group">
        <label for="registerLastName" class="sr-only">Last Name</label>
        <input
          id="registerLastName"
          class="form-control"
          type="text"
          name="lastName"
          placeholder="last name"
        />
      </div>
      <div class="form-group">
        <label for="registerEmail" class="sr-only">Email</label>
        <input
          id="registerEmail"
          class="form-control"
          type="email"
          name="email"
          placeholder="email"
        />
      </div>
      <div class="form-group">
        <label for="userImage">Image</label>
        <input
          id="userImage"
          class="form-control"
          type="file"
          name="image"
          accept="image/*"
          required
        />
      </div>
      <div class="form-group">
        <label for="registerAdminCode" class="sr-only">Admin Code</label>
        <input
          id="registerAdminCode"
          class="form-control"
          type="password"
          name="adminCode"
          placeholder="admin code"
        />
      </div>
      <div class="form-group">
        <label for="descriptionInput"
          >Write something about yourself for your profile:</label
        >
        <textarea
          class="form-control"
          id="descriptionInput"
          name="description"
          rows="7"
        ></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
      </div>
    </form>
    <a href="/vacations">Go Back</a>
  </div>
</div>
<%- include("partials/footer") %>
