a:hover {
  text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container .text-muted {
  margin: 20px 0;
}

.search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Thumbnail styles */
.thumbnail img,
.card-body img {
  max-width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.grid-container {
  display: grid;
  grid-gap: 1rem;
  padding: 0 0 32px 0;
}

/* Google Map styles */
#map {
  height: 400px;
  width: 100%;
}

.checked {
  color: orange;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

@media (min-width: 576px) {
  .campground-image {
    height: 20vw;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .campground-image {
    height: 15vw;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .campground-image {
    height: 12vw;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
